<!DOCTYPE html>
<html>
  <head>
    <title><%= $config[:board_name] %></title>
    <link rel="stylesheet" href="/stylesheet.css">
  </head>
  <body>
    <div class="navbar">
      <% { $config[:board_name] => '/', 'New Post' => '/new_post/', 'Me' => '/me/' }.each do |title, path| %>
      <a href="<%= path %>"><div class="navbarButton"><%= '<b>' if request.path == path %><%= title %><%= '</b>' if request.path == path %></div></a>
      <% end %>
    </div>
    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
