<% post = $db[:posts].where(:id => id).first
   user_alias = $db[:aliases].where(:user => post[:author]).first[:alias] %>

<div style="margin-left: <%= depth * 10 %>px;" class="post">
  <div class="postUserhash"><%= post[:author] %></div>
  <b><%= h user_alias %></b> - <%= Time.at(post[:date]).to_s %><br>
  <div class="postContent"><%= h(post[:content]).gsub("\n", "<br>") %></div><br>
  <a href="/new_post/?reply=<%= id %>">[reply]</a>
</div>
