<% post = $db[:posts].where(:id => id).first
   user_alias = $db[:userconfig].where(:user => post[:author], :key => 'alias').first[:value] %>

<div style="margin-left: <%= depth * 10 %>px;" class="post">
  <div class="postHeader">
    <div class="postUserhash"><%= post[:author] %></div>
    <b><%= h user_alias %></b> - <%= Time.at(post[:date]).to_s %><br>
    <% if post[:in_reply_to].nil? and post[:tags].split.length > 0 %><div class="postTags"><%= post[:tags] %><br></div><% end %>
  </div>
  <div class="postContent"><%= h(post[:content]).gsub("\n", "<br>") %></div>
  <div class="postButtons"><a href="/new_post/?reply=<%= id %>">[reply]</a></div>
</div>
