<% user_alias = $db[:userconfig].where(:user => post[:author], :key => 'alias').first[:value] %>
<a style="color: #000; text-decoration: none;" href="/th/<%= post[:id] %>/">
  <div class="postFront">
    <div class="postHeader">
      <div class="postUserhash"><%= post[:author] %></div>
      <b><%= h user_alias %></b> - <%= Time.at(post[:date]).to_s %><br>
      <% if post[:tags].split.length > 0 %><div class="postTags"><%= post[:tags] %><br></div><% end %>
    </div>
    <div class="postContent"><%= h(post[:content][0 .. 139]).gsub("\n", "<br>") %><%= '...' if post[:content].length > 140 %></div>
  </div>
</a>
